.cal-container {
  
    margin: 1rem auto;
       
    
  }
  
  .cal-header {
    background-color: #6ac123;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    font-size: 1.25rem;
    border: 1px solid rgb(179, 0, 255); 
    
  }
  
  .cal-day {
    min-height: fit-content;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .highlighted-date {
    border: 2.5px solid rgb(115, 78, 188) !important;
    background-color: #e5e561;
    border-radius: 1.0rem;
    color: white;
    z-index: 2;
    margin: 2px;
    
  }
  
  .highlighted-content {
    font-size: 0.8rem;
    color: darkgreen;
    font-weight: bolder;
  }

  .react-calendar {
    width: 100%;
    min-width: min-content;
    min-height: min-content;
    border-radius: 5px;
    background-color:  #f3f3f3;  /* Set your desired background color */
    border: 3px solid red;  /* Add a border for better visibility */
  
    padding: 1.5rem;

     }